<div class="row">
  <h1>Listagem de categorias</h1>
<!--  {{sortColumn | json}} -->
  <table class="table table-striped">
    <thead>
      <tr>
        <td>
          <button class="btn btn-primary" (click)="categoryInsertService.showModalInsert()">Nova categoria</button>
        </td>
        <td colspan="4">
            <category-search-form (onSearch)="search($event)"></category-search-form>
        </td>
      </tr>
      <tr>
        <td style="width: 5%;" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</td>
        <td style="width: 60%;" [sortColumn]="sortColumn" columnName="name" (onSort)="sort($event)">Nome</td>
        <td style="width: 5%;">Ativa</td>
        <td style="width: 15%;" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado em</td>
        <td style="width: 15%;">Ações</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories | paginate: {itemsPerPage: 5, currentPage: pagination.page, totalItems: pagination.totalItems}">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>
          <i class="fa" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
        </td>
        <td>{{category.created_at.date | date: 'dd/mm/yyyy'}}</td>
        <td>
          <a href="javascript:void(0)" (click)="categoryEditService.showModalEdit(category.id)">
            <i class="fas fa-edit"></i>
          </a> |
          <a href="javascript:void(0)" (click)="categoryDeleteService.showModalDelete(category.id)">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>

<category-new-modal (onSuccess)="categoryInsertService.onInsertSuccess($event)" (onError)="categoryInsertService.onInsertError($event)"></category-new-modal>

<category-edit-modal [categoryId]="categoryId" (onSuccess)="categoryEditService.onEditSuccess($event)" (onError)="categoryEditService.onEditError($event)"></category-edit-modal>

<category-delete-modal [categoryId]="categoryId" (onSuccess)="categoryDeleteService.onDeleteSuccess($event)" (onError)="categoryDeleteService.onDeleteError($event)"></category-delete-modal>
